.audiobooks {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.audiobook-container {
  background-color: #E0FBFC;
  margin: .5rem;
  padding: 1rem;
}

.book-image {
  width: 20rem;
}