.book-details {
  background-color: #E0FBFC;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  align-items: center;
}

img {
  max-width: 100%;
}

.summary {
  max-width: 500px;
}