.home-container {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 10rem;
}

.entrance-container {
  background-color: rgb(203, 234, 238);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}

.entrance-container:hover {
  filter: drop-shadow(0 0 0.75rem white);
  transform: scale(1.05);
}

.entrance-detail {
  margin: 1rem 3rem;
  display: flex;
  justify-content: center;
}